*****************************************************************************************

                       CURRENT ENVIRONMENT IS : {{ motd_env }}

*****************************************************************************************
*                                  ___           ___           ___           ___        *
*        _____        ___         /\  \         /\  \         /\__\         /\  \       *
*       /::\  \      /\__\       /::\  \        \:\  \       /:/ _/_       /::\  \      *
*      /:/\:\  \    /:/__/      /:/\:\  \        \:\  \     /:/ /\  \     /:/\:\  \     *
*     /:/  \:\__\  /::\  \     /:/ /::\  \   _____\:\  \   /:/ /::\  \   /:/  \:\  \    *
*    /:/__/ \:|__| \/\:\  \   /:/_/:/\:\__\ /::::::::\__\ /:/__\/\:\__\ /:/__/ \:\__\   *
*    \:\  \ /:/  /  ~~\:\  \  \:\/:/  \/__/ \:\~~\~~\/__/ \:\  \ /:/  / \:\  \ /:/  /   *
*     \:\  /:/  /      \:\__\  \::/__/       \:\  \        \:\  /:/  /   \:\  /:/  /    *
*      \:\/:/  /       /:/  /   \:\  \        \:\  \        \:\/:/  /     \:\/:/  /     *
*       \::/  /       /:/  /     \:\__\        \:\__\        \::/  /       \::/  /      *
*        \/__/        \/__/       \/__/         \/__/         \/__/         \/__/       *
*****************************************************************************************

{{ motd_message }}
